/**
The original yellow/orange coloring is confusing given those are
warning / caution colors
**/
.marker-cluster-small {
    background-color: rgba(13, 21, 33, 1.0);
}

.marker-cluster-small div {
    background-color: rgba(34, 54, 85, 1.0);
}

.marker-cluster-medium {
    background-color: rgb(44, 85, 151, 1.0);
}

.marker-cluster-medium div {
    background-color: rgba(49, 95, 169, 1.0);
}

.marker-cluster-large {
    background-color: rgba(33, 77, 188, 1.0);
}

.marker-cluster-large div {
    background-color: rgba(53, 93, 194, 1.0);
}

/*----------------------------------------*/

/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
    background-color: rgb(13, 21, 33);
}

.leaflet-oldie .marker-cluster-small div {
    background-color: rgb(34, 54, 85);
}

.leaflet-oldie .marker-cluster-medium {
    background-color: rgb(44, 85, 151);
}

.leaflet-oldie .marker-cluster-medium div {
    background-color: rgb(49, 95, 169);
}

.leaflet-oldie .marker-cluster-large {
    background-color: rgb(33, 77, 188);
}

.leaflet-oldie .marker-cluster-large div {
    background-color: rgb(53, 93, 194);
}